@if (tournament(); as t) {
  <p-tabs value="infos" [showNavigators]="false">
    <p-tablist>
      <p-tab value="infos">Informations
        @if (getBadgeValue('infos') > 0) {
          <p-badge [value]="getBadgeValue('infos')" />
        }
      </p-tab>
      <p-tab value="players">Joueurs
        @if (getBadgeValue('players') > 0) {
          <p-badge [value]="getBadgeValue('players')" />
        }
      </p-tab>
      <p-tab value="settings">Configuration
        @if (getBadgeValue('settings') > 0) {
          <p-badge [value]="getBadgeValue('settings')" />
        }
      </p-tab>
      <p-tab value="brackets" *ngIf="tournamentContainsBracket">Tableau principal
        @if (getBadgeValue('brackets') > 0) {
          <p-badge [value]="getBadgeValue('brackets')" />
        }
        @if (bracketNotGenerated) {
          <i class="bi bi-exclamation-triangle-fill text-primary-100 ml-1"></i>
        }
      </p-tab>
      <p-tab value="classification" *ngIf="tournamentContainsBracket && hasClassificationBrackets">Tableaux de classement</p-tab>
      <p-tab value="matchs" *ngIf="tournamentContainsBracket">Matchs</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="infos">
        <app-infos
          [tournament]="t"
          (tournamentChange)="tournament.set($event)"
          [availableCategories]="categories()"
          [availableGenders]="genders()"
          [availableLeagues]="leagues()"
          [availableLocations]="allLocations()">
        </app-infos>
      </p-tabpanel>
      <p-tabpanel value="players">
        <app-players
          [tournament]="t"
          [pairs]="pairs()"
          (refreshPairs)="refreshTournamentAndPairs()"
        ></app-players>
      </p-tabpanel>
      <p-tabpanel value="settings">
        <app-settings
          [tournament]="t"
          (tournamentChange)="tournament.set($event)"
          [availableGameFormats]="gameFormats()"
          [availableGameFormatDurations]="gameFormatDurations()"
          [availableConfigurations]="configurations()"
        ></app-settings>
      </p-tabpanel>
      <p-tabpanel value="brackets">
        <app-brackets
          [tournament]="t"
          [pairs]="pairs()"
          [availableGameFormats]="gameFormats()"
          (bracketChange)="bracket.set($event)"
        ></app-brackets>
      </p-tabpanel>
      <p-tabpanel value="classification">
        @if (bracket(); as b) {
          <app-classification-brackets
            [tournament]="t"
            [pairs]="pairs()"
            [bracket]="b"
            (bracketChange)="bracket.set($event)">
          </app-classification-brackets>
        }
      </p-tabpanel>
      <p-tabpanel value="matchs">
        <app-matchs
          [tournament]="t"
          [pairs]="pairs()">
        </app-matchs>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
}
