@if (tournament(); as t) {
  <p-tabs value="infos" [showNavigators]="false">
    <p-tablist>
      <p-tab value="infos">Informations</p-tab>
      <p-tab value="players">Joueurs</p-tab>
      <p-tab value="settings">Configuration</p-tab>
      <p-tab value="brackets" *ngIf="tournamentContainsBracket">Tableaux</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="infos">
        <app-infos
          [tournament]="t"
          (tournamentChange)="tournament.set($event)"
          [availableCategories]="categories()"
          [availableGenders]="genders()"
          [availableLeagues]="leagues()">
        </app-infos>
      </p-tabpanel>
      <p-tabpanel value="players">
        <app-players
          [tournament]="t"
          [pairs]="pairs()"
          (refreshPairs)="refreshPairs()"
        ></app-players>
      </p-tabpanel>
      <p-tabpanel value="settings">
        <app-settings
          [tournament]="t"
          (tournamentChange)="tournament.set($event)"
        ></app-settings>
      </p-tabpanel>
      <p-tabpanel value="brackets">
        <app-brackets
          [tournament]="t"
          [pairs]="pairs()"
          [availableGameFormats]="gameFormats()"
        ></app-brackets>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
}
