<div class="flex flex-col w-full gap-3">
  <div class="flex flex-col sm:flex-row justify-between gap-3">
    <p-button label="Ajouter un tournoi" icon="bi bi-plus-circle"
              (click)="showCreateDialog()" [loading]="dataLoading()"
    ></p-button>
  </div>
  <p-tabs value="upcoming" [showNavigators]="false">
    <p-tablist>
      <p-tab value="upcoming">A venir</p-tab>
      <p-tab value="past">Passés</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="upcoming">
        <app-tournament-list
        [availableCategories]="availableCategories"
        [availableGenders]="availableGenders"
        [startDate]="startDateForUpcomingTournaments"
        [minStartDate]="minStartDateForUpcomingTournaments"
        [minEndDate]="minEndDateForUpcomingTournaments"
        [endDate]="endDateForUpcomingTournaments"></app-tournament-list>
      </p-tabpanel>
      <p-tabpanel value="past">
        <app-tournament-list
          [availableCategories]="availableCategories"
          [availableGenders]="availableGenders"
          [startDate]="startDateForPastTournaments"
          [maxStartDate]="maxStartDateForPastTournaments"
          [maxEndDate]="maxEndDateForPastTournaments"
          [endDate]="endDateForPastTournaments"></app-tournament-list>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>

<p-dialog header="Nouveau tournoi" [modal]="true" [(visible)]="createDialogVisible" styleClass="w-11/12 sm:w-1/2">
  <form [formGroup]="createForm" class="flex flex-col gap-5 w-full items-center p-4" (ngSubmit)="createTournament()">


    <div class="flex flex-col sm:flex-row w-full justify-between gap-3">
      <div class="flex flex-col w-full">
        <label for="name">Nom du tournoi</label>
        <input pInputText id="name" type="text" autocomplete="off" formControlName="name"/>
      </div>

      <div class="flex flex-col w-full">
        <label for="location">Club</label>
        <p-select [options]="availableLocations" fluid="" formControlName="location" inputId="location" [editable]="true" [showClear]="true" />
      </div>
    </div>

    <div class="flex flex-col sm:flex-row w-full justify-between gap-3">
      <div class="flex flex-col w-full">
        <label for="category">Catégorie</label>
        <p-select [options]="availableCategories" formControlName="category" optionLabel="label" placeholder="Catégorie"
                  optionValue="value" inputId="category" appendTo="body"/>
      </div>

      <div class="flex flex-col w-full">
        <label for="gender">Genre</label>
        <p-select [options]="availableGenders" formControlName="gender" optionLabel="label" placeholder="Genre"
                  optionValue="value" inputId="gender" appendTo="body"/>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row w-full justify-between gap-3">
      <div class="flex flex-col w-full">
        <label for="league">Ligue</label>
        <p-select [options]="availableLeagues" formControlName="league" optionLabel="label" placeholder="Ligue"
                  optionValue="value" inputId="league" appendTo="body"/>
      </div>

      <div class="flex flex-col w-full">
        <label for="start_date">Date</label>
        <p-datepicker fluid="" inputId="start_date" formControlName="start_date" dateFormat="dd/mm/yy"
                      [minDate]="minStartDateForUpcomingTournaments" appendTo="body"></p-datepicker>
      </div>
    </div>

    <p-button label="Créer le tournoi" icon="bi bi-plus-circle" type="submit" fluid=""
              [disabled]="createForm.invalid" [loading]="createLoading()"/>

  </form>
</p-dialog>
