<form [formGroup]="form" class="flex flex-col gap-5 w-full items-center" (ngSubmit)="resetPassword()">

  <h2>Réinitialiser mon mot de passe</h2>

  <div class="flex flex-col w-full">
    <label for="password">Nouveau mot de passe</label>
    <p-password fluid="" formControlName="password" inputId="password" [feedback]="true" [toggleMask]="true" />
    <app-field-error [control]="form.get('password')"></app-field-error>
  </div>

  <div class="flex flex-col w-full">
    <label for="password_confirm">Confirmation de mot de passe</label>
    <p-password fluid="" formControlName="password_confirm" inputId="password_confirm" [feedback]="false" [toggleMask]="true" />
    @if (form.hasError('passwordMismatch') && form.get('password_confirm')?.dirty) {
      <small class="text-error-100 text-body-light mt-1">Les mots de passe ne correspondent pas.</small>
    }
  </div>

  <div class="w-full">
    <p-button label="Réinitialiser" icon="bi bi-check-circle" type="submit" fluid=""
              [disabled]="form.invalid" [loading]="loading()"/>
  </div>

</form>
