@let b = bracket();
@if (bracketAlreadyGenerated() && b) {
  <div class="-mx-4 sm:-mx-20 md:-mx-40 lg:-mx-60 bracket-breakout">
    <app-bracket-chart
      [bracket]="b"
      [pairs]="pairs()"
      [tournament]="tournament()"
      (scoreChanged)="onScoreChanged($event)"
      (seedingChanged)="onSeedingChanged($event)"
      (deleteRequested)="onDeleteBracketRequested()"
      (scoreDeleteRequested)="onScoreDeleteRequested($event)">
    </app-bracket-chart>
  </div>
} @else {
  <app-generate-bracket
    [tournament]="tournament()"
    (bracket)="bracketHasBeenGenerated($event)"
  ></app-generate-bracket>
}
