<div>
  <div class="-mb-40 flex flex-col justify-end w-fit">
    <form [formGroup]="form" class="rounded-xl bg-contrast-80 text-blanc-100 flex flex-col gap-2 p-3 z-10 relative">
      <span>Nombre de paires (N) : <strong>{{ pairs().length }}</strong></span>
      <div class="flex flex-row justify-between gap-2 items-center">
        <label class="text-blanc-100!" for="bracketDimension">Dimension du tableau (D) : </label>
        <p-select [options]="[4, 8, 16, 32, 64]" formControlName="bracketDimension" inputId="bracketDimension"
                  appendTo="body" size="small"/>
      </div>
      <div class="flex flex-row justify-between gap-2 items-center">
        <label class="text-blanc-100!" for="nbTopSeeds">Nombre de Tête de Séries (TS) : </label>
        <p-select [options]="availableNumberOfTopSeeds()" formControlName="nbTopSeeds" inputId="nbTopSeeds"
                  appendTo="body" size="small"/>
      </div>
    </form>
    <div class="flex flex-col gap-1">
      @for (pair of remainingPairsToBePlaced(); track pair.id) {
        <div class="p-2 rounded-xl border border-b-contrast-100 shadow-sm"
             pDraggable
             (onDragStart)="dragStart(pair)"
             (onDragEnd)="dragEnd()"
        >
          <span>{{ getPairName(pair) }}</span>
        </div>
      }
    </div>
  </div>
  <div class="relative" [style.height.px]="containerHeight()">
    <div #chartContainer class="rotate-90 origin-center"
         [style.margin-top.px]="chartMargin()"
         [style.margin-bottom.px]="chartMargin()">
      <p-organization-chart [value]="bracketData()">
        <ng-template let-node pTemplate="match">
          <div class="-rotate-90 flex flex-col items-center h-48 shadow-2xl drop-column" pDroppable
               (onDrop)="drop(node.data)">
            <span class="font-bold mb-2">{{ node.data.title }}</span>
            <span>{{ getPairName(node.data.pair1) }}</span>
            <span>vs.</span>
            <span>{{ getPairName(node.data.pair2) }}</span>
          </div>
        </ng-template>
      </p-organization-chart>
    </div>
  </div>
</div>
