<app-loading-spinner [loading]="loading()"></app-loading-spinner>
<form [class.hidden]="loading()"
      [formGroup]="updateForm"
      class="flex flex-col gap-5 w-full items-center p-4"
      (ngSubmit)="updateTournament()">

  <div class="flex flex-row w-full justify-between gap-3">
    <div class="flex flex-col w-full">
      <label for="name">Nom du tournoi</label>
      <input pInputText id="name" type="text" autocomplete="off" formControlName="name"/>
    </div>

    <div class="flex flex-col w-full">
      <label for="location">Club</label>
      <p-select [options]="availableLocations()" fluid="" formControlName="location" inputId="location" [editable]="true" [showClear]="true" />
    </div>
  </div>

  <div class="flex flex-row w-full justify-between gap-3">
    <div class="flex flex-col w-full">
      <label for="category">Catégorie</label>
      <p-select [options]="availableCategories()" formControlName="category" optionLabel="label" placeholder="Catégorie"
                optionValue="value" inputId="category" appendTo="body"/>
    </div>

    <div class="flex flex-col w-full">
      <label for="gender">Genre</label>
      <p-select [options]="availableGenders()" formControlName="gender" optionLabel="label" placeholder="Genre"
                optionValue="value" inputId="gender" appendTo="body"/>
    </div>
  </div>

  <div class="flex flex-row w-full justify-between gap-3">
    <div class="flex flex-col w-full">
      <label for="league">Ligue</label>
      <p-select [options]="availableLeagues()" formControlName="league" optionLabel="label" placeholder="Ligue"
                optionValue="value" inputId="league" appendTo="body"/>
    </div>

    <div class="flex flex-col w-full">
      <label for="start_date">Date</label>
      <p-datepicker fluid="" inputId="start_date" formControlName="start_date" dateFormat="dd/mm/yy"
                    [minDate]="minDate" appendTo="body"></p-datepicker>
    </div>
  </div>

  <div class="flex flex-row gap-3">
    <p-button label="Annuler" outlined="true" icon="bi bi-x-circle" fluid=""
              [loading]="loading()" (click)="cancel()"/>

    <p-button label="Sauvegarder" icon="bi bi-check-circle" type="submit" fluid=""
              [disabled]="updateForm.invalid || updateForm.untouched" [loading]="loading()"/>

    <p-button label="Supprimer" icon="bi bi-trash" fluid="" severity="danger"
              [loading]="loading()" (click)="deleteTournament($event)"/>
  </div>

</form>
