<form [formGroup]="form" class="flex flex-col gap-5 w-full items-center" (ngSubmit)="resetPassword()">

  @if (emailSent()) {

    <div class="flex flex-row gap-3 items-center">
      <h2 class="text-primary-100!">Email envoyé</h2>
      <i class="bi bi-check-circle text-3xl text-primary-100"></i>
    </div>

    <p class="text-body-light text-contrast-80 self-start">
      Un lien de réinitialisation a été envoyé à votre adresse email. Pensez à vérifier vos spams.
    </p>

    <a routerLink="/auth/login" class="text-sm pt-5 text-primary-100 font-medium hover:underline">Se connecter</a>

  } @else {
    <h2>Réinitialiser mon mot de passe</h2>

    <p class="text-body-light text-contrast-80 self-start">
      Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
    </p>

    <div class="flex flex-col w-full">
      <label for="email">Email</label>
      <input fluid="" type="email" pInputText id="email" autocomplete="off" formControlName="email"/>
    </div>

    <div class="w-full">
      <p-button label="Réinitiliaser mon mot de passe" icon="bi bi-check-circle" type="submit" fluid=""
                [disabled]="form.invalid" [loading]="loading()"/>
    </div>
  }
</form>
